/* Global/Mobile Styles - This is for the scalability for devices */
/* This is the default unless the style is overwritten for larger screens */

@font-face { /*Custom Font*/
  font-family: customfont;
  src: url("../font/LEMONMILK-Regular.otf");
}

body{
  width: 100%;
  background: #837f7f;
  margin: 0px;
}

#logonav{ /*Logo and Navbar styling*/
  background-color: #c9bbbb;
}

#logo{ /*Logo Div styling*/
  font-family: customfont;
  background-color: ;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 30px;
  font-size: 10px;

}

nav{ /*Navbar styling*/
  visibility: hidden;
  background-color: #a19c9c;
  font-family: "Calibri Light", serif;
  font-weight: bold;
  display: flex;
  justify-content: left;
  justify-content: space-around;
  padding: 0.8em;
}

a{ /*Navbar link styling*/
  text-decoration: none;
  color: black;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 8px;
}


a:hover{ /*Navbar Item styling*/
  color: white;
  transition: 2s;
}

a:link{ /*Navbar Item styling*/
  background-color: #7289da;
  border-radius: 20px;
}

/* #navicon{
  background-color: #a19c9c;
} */


h1{ /*Title styling*/
  text-align: left;
  padding-left: 10px;
}

#mobilenav{
  visibility: visible;
  font-family: "Calibri Light", serif;
  background-color: #a19c9c;
  font-weight: bold;
  display: flex;
  justify-content: left;
  justify-content: space-around;
}

table{
  border-spacing: 20px;
  padding-bottom: 5px;
}

th{
  background-color: #7289da;
  border-radius: 20px;
  font-size: 12px;
}

/* .topNav a:not(:first-child){
  display: none;
}

.topNav a.icon{
  float: left;
  display: block;
}

.topNav.responsive{
  position: relative;
}

.topNav.responsive a.icon{
  position: absolute;
  right: 0;
  top: 0;
}

.topNav.responsive a{
  float: none;
  display: block;
  text-align: left;
} */

/* TABLET STYLES */

@media screen and (min-width: 500px) {

/* applies to screens wider than 499px */

  #logo{
    font-size: 12px;
  }

  nav{ /*Navbar styling*/
    visibility: visible;
    background-color: #a19c9c;
    font-family: "Calibri Light", serif;
    font-weight: bold;
    display: flex;
    justify-content: left;
    justify-content: space-around;
    padding: 1em;
  }

  a{ /*Navbar link styling*/
    text-decoration: none;
    color: black;
    padding-left: 2.5px;
    padding-right: 2.5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 10px;
  }


  a:hover{ /*Navbar Item styling*/
    color: white;
    transition: 2s;
  }

  a:link{ /*Navbar Item styling*/
    background-color: #7289da;
    border-radius: 20px;
  }

  #mobilenav{
    visibility: hidden;
  }

  /* .topNav .icon{
    display: none;
  } */
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

/* applies to screens wider than 999px */

  #logo{
    font-size: 15px;
  }

  nav{ /*Navbar styling*/
    visibility: visible;
    background-color: #a19c9c;
    font-family: "Calibri Light", serif;
    font-weight: bold;
    display: flex;
    justify-content: left;
    justify-content: space-around;
    padding: 1.5em;

  }

  a{ /*Navbar link styling*/
    text-decoration: none;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
  }


  a:hover{ /*Navbar Item styling*/
    color: white;
    transition: 2s;
  }

  a:link{ /*Navbar Item styling*/
    background-color: #7289da;
    border-radius: 20px;
  }

  #mobilenav{
    visibility: hidden;
  }
  /* .topNav a:first-of-type(:first-child){
    display: none;
  }

  .topNav .icon{
    display: none;
  } */

}
