/* Global/Mobile Styles - This is for the scability for devices */
/* This is the default unless the style is overwritten for larger screens */

@font-face {
  font-family: customfont;
  src: url("../font/LEMONMILK-Regular.otf");
}

body{
  background: #837f7f;
  margin: 0px;
}

#logo{
  font-family: customfont;
}
